{% extends 'base.html' %}

{% block extra_nav %}
<li class="nav-item">
    <a class="nav-link" href="/sales_invoices/add/" style="color: white;">Add Sales Invoice</a>
</li>
{% endblock %}
{% block content %}

<h1 class="page-title">Sales Invoices</h1>
<form method="get" novalidate  novalidate style="width: 560px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
<table class="custom-table">
    <thead>
        <tr class="table-header">
            <th>Sales Invoice ID</th>
            <th>Sales Order ID</th>
            <th>Customer ID</th>
            <th>Total Amount</th>
            <th>Total Items</th>
            <th>Invoice Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sales_invoice in sales_invoices %}
        <tr>
            <td>{{ sales_invoice.SALES_INVOICE_ID }}</td>
            <td>{{ sales_invoice.SALES_ORDER_ID }}</td>
            <td>{{ sales_invoice.CUSTOMER_ID }}</td>
            <td>{{ sales_invoice.TOTAL_AMOUNT }}</td>
            <td>{{ sales_invoice.TOTAL_ITEMS }}</td>
            <td>{{ sales_invoice.INVOICE_DATE }}</td>
            <td>{{ sales_invoice.STATUS }}</td>
            <td>
                <a href="/sales_invoices/edit/{{ sales_invoice.SALES_INVOICE_ID }}/" class="action-link">Edit</a> |
                <a href="/sales_invoices/delete/{{ sales_invoice.SALES_INVOICE_ID }}/" class="action-link">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}