{% extends 'base.html' %}

{% block extra_nav %}
<li class="nav-item">
    <a class="nav-link" href="/customers/add/" style="color: white;">Add Customer</a>
</li>
{% endblock %}
{% block content %}
<h1 class="page-title">Customers</h1>
<br><br>
<form method="get" novalidate style="width: 560px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
<table class="custom-table">
    <thead>
        <tr class="table-header">
            <th>Customer ID</th>
            <th>Company Name</th>
            <th>Balance Due</th>
            <th>Address</th>
            <th>Status</th>
            <th>Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.CUSTOMER_ID }}</td>
            <td>{{ customer.COMPANY_NAME }}</td>
            <td>{{ customer.BALANCE_DUE }}</td>
            <td>{{ customer.ADDRESS }}</td>
            <td>{{ customer.STATUS }}</td>
            <td>{{ customer.CONTACT }}</td>
            <td>
                <a href="/customers/edit/{{ customer.CUSTOMER_ID }}/" class="action-link">Edit</a> |
                <a href="/customers/delete/{{ customer.CUSTOMER_ID }}/" class="action-link">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}