{% extends 'base.html' %}

{% block extra_nav %}
<li class="nav-item">
    <a class="nav-link" href="/customer_ledger_entries/add/" style="color: white;">Add Customer Ledger Entry</a>
</li>
{% endblock %}

{% block content %}
<h1 class="page-title">Customer Ledger Entries</h1>
<br><br>
<form method="get" novalidate style="width: 560px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
<table class="custom-table">
    <thead>
        <tr class="table-header">
            <th>Customer Ledger Entry ID</th>
            <th>Customer ID</th>
            <th>Sales Invoice ID</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for cle in CustomerLedgerEntries %}
        <tr>
            <td>{{ cle.CUSTOMER_LEDGER_ENTRY_ID }}</td>
            <td>{{ cle.CUSTOMER_ID }}</td>
            <td>{{ cle.SALES_INVOICE_ID }}</td>
            <td>{{ cle.AMOUNT }}</td>
            <td>{{ cle.PAID_DATE }}</td>
            <td>
                <a href="/customer_ledger_entries/edit/{{ cle.CUSTOMER_LEDGER_ENTRY_ID }}/" class="action-link">Edit</a> |
                <a href="/customer_ledger_entries/delete/{{ cle.CUSTOMER_LEDGER_ENTRY_ID }}/" class="action-link">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}