{% extends 'base.html' %}

{% block extra_nav %}
<li class="nav-item">
    <a class="nav-link" href="/sales_order_products/add/{{ sales_order_id }}" style="color: white;">Add Sales Order Product</a>
</li>
{% endblock %}
{% block content %}

<h1 class="page-title">Sales Order Products</h1>
<br><br>
<form method="get" novalidate style="width: 560px;">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Search</button>
</form>
<table class="custom-table">
    <thead>
        <tr class="table-header">
            <th>Sales Order ID</th>
            <th>Seq No</th>
            <th>Product ID</th>
            <th>Quantity</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for sop in sales_order_products %}
        <tr>
            <td>{{ sop.SALES_ORDER_ID }}</td>
            <td>{{ sop.SEQ_NUM }}</td>
            <td>{{ sop.PRODUCT_ID }}</td>
            <td>{{ sop.QUANTITY }}</td>
            <td>{{ sop.AMOUNT }}</td>
            <td>
                <a href="/sales_order_products/edit/{{ sop.SALES_ORDER_ID }}/{{ sop.SEQ_NUM }}/" class="action-link">Edit</a> |
                <a href="/sales_order_products/delete/{{ sop.SALES_ORDER_ID }}/{{ sop.SEQ_NUM }}/" class="action-link">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}